<!-- <form [formGroup]="oppoSuitsForm">
  <div class="form-group">
    <select formControlName="name" class="form-control">
      <option class="hai" selected>Select Titlename</option>
      <option class=" hai" *ngFor="let suit of data">{{
        suit.titlename
      }}</option>
    </select>
  </div>
</form> -->
<app-dropdown (updateSelectUser)="getAssignedUserID($event)"></app-dropdown>
<table border="2px" *ngIf="data">
  <tr>
    <th>S.No</th>
    <th>Title Name</th>
    <th>Doing Task</th>
    <th>task.assigned_to</th>
    <th>Reminder Date & Time</th>
  </tr>
  <tr *ngFor="let task of data; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ task.task_name }}</td>
    <td>{{ task.task_description }}</td>
    <td>{{ task.assigned_to }}</td>
    <td>{{ task.reminder_time }}</td>
  </tr>
</table>
