<div [formGroup]="Taskform">
  <div class="form-group">
    <b>Title Name</b>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      formControlName="task_name"
      placeholder="Enter Tasktitle name"
      [ngClass]="{
        'is-invalid': submitted && f.task_name.errors
      }"
    />
    <div *ngIf="submitted && f.task_name.errors" class="invalid-feedback">
      <div *ngIf="f.task_name.errors.required" class="fix">
        task_name is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <b>Doing Task</b>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="task_description"
      placeholder="User doing the task"
      [ngClass]="{
        'is-invalid': submitted && f.task_description.errors
      }"
    />
    <div
      *ngIf="submitted && f.task_description.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.task_description.errors.required" class="fix">
        Task is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Assign To</label>
    <!-- <select  formControlName="assigned_to" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userlist.errors }" > -->
    <app-dropdown (updateSelectUser)="getAssignedUserID($event)">
    </app-dropdown>
    <!-- </select> -->
  </div>
  <div class="form-group">
    <div><b>Reminder Date and Time</b></div>
    <input
      type="datetime-local"
      class="form-control"
      formControlName="reminder_time"
      [ngClass]="{
        'is-invalid': submitted && f.reminder_time.errors
      }"
    />

    <div *ngIf="submitted && f.reminder_time.errors" class="invalid-feedback">
      <div *ngIf="f.reminder_time.errors.required" class="fix">
        Reminder Date and Time is required
      </div>
    </div>
  </div>
  <div class="wrapper">
    <button type="submit" class="btn btn-warning" (click)="submit()">
      Submit
    </button>
  </div>
</div>
